h1{
    color:blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    text-align: center;
}
h2{
    color: rgb(95, 93, 93);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    text-align: center;
}
hr{
    width:600px;    
}
#board{
    margin:auto;
    display: flex;
    flex-wrap: wrap;    
    width:400px;
    height:400px;
    background-color:rgb(202, 247, 241);
    border: 5px #bbada0 solid;
}
.tile{
    height: 90px;
    width: 90px;
    border: 5px solid #bbada0;
    font-weight:bold;
    align-items: center;
    justify-content: center;
    display:flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    color:rgb(80, 80, 85);
}
.btn1{
    margin:auto;
    align-items:center;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    
}
.btn{
    height:50px;
    width:50px;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
}
.x2{
    background-color: aliceblue;
    color: #666666;
}
.x4{
    background-color: rgb(248, 220, 201);
    color:#666;
}
.x8{
    background-color: rgb(243, 203, 71);
    color:#666;
}
.x16{
    background-color: rgb(236, 135, 52);
    color:#ffffff;
}
.x32{
    background-color: rgb(223, 66, 113);
    color:#fff;
}
.x64{
    background-color: rgb(240, 40, 40);
    color:#fff;
}
.x128{
    background-color: rgb(215, 236, 25);
    color:#666;
}
.x256{
    background-color: rgb(228, 61, 192);
    color:#ffffff;
}
.x512{
    background-color: rgb(135, 224, 33);
    color:#666;
}
.x1024{
    background-color: rgb(25, 204, 159);
    color:#666;
}
.x2048{
    background-color: rgb(236, 96, 15);
    color:#000;
}
.x4096{
    background-color: rgb(235, 41, 35);
    color:#ffffff;
}